<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @shirt.code %>
</p>

<p>
  <strong>Label:</strong>
  <%= @shirt.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shirt.description %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @shirt.ean %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @shirt.profile %>
</p>

<p>
  <strong>Collar:</strong>
  <%= @shirt.collar %>
</p>

<p>
  <strong>Breast pocket:</strong>
  <%= @shirt.breast_pocket %>
</p>

<p>
  <strong>Wristband:</strong>
  <%= @shirt.wristband %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shirt.color %>
</p>

<p>
  <strong>Cloth:</strong>
  <%= @shirt.cloth %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shirt.price %>
</p>

<p>
  <strong>Link:</strong>
  <%= @shirt.link %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @shirt.affiliate %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @shirt.picture %>
</p>

<p>
  <strong>Size collar:</strong>
  <%= @shirt.size_collar %>
</p>

<p>
  <strong>Size bust:</strong>
  <%= @shirt.size_bust %>
</p>

<p>
  <strong>Size waist:</strong>
  <%= @shirt.size_waist %>
</p>

<p>
  <strong>Size body:</strong>
  <%= @shirt.size_body %>
</p>

<p>
  <strong>Size arm:</strong>
  <%= @shirt.size_arm %>
</p>

<p>
  <strong>Size shoulder:</strong>
  <%= @shirt.size_shoulder %>
</p>

<p>
  <strong>Size back:</strong>
  <%= @shirt.size_back %>
</p>

<p>
  <strong>Size wrist:</strong>
  <%= @shirt.size_wrist %>
</p>

<p>
  <strong>Sleeve:</strong>
  <%= @shirt.sleeve %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
