<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- Design, HTML and Rails by Finn Lorbeer. Email: finn.vonn.friesland@googlemail.com -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="DC.title" content="Hemdenpilot">
    <meta name="DC.creator" content="Finn Lorbeer">
    <meta name="DC.subject" content="Hemden Suchmaschinen Kooperation aus Berlin und Schleswig-Holstein">
    <meta name="DC.descripion" content="Du suchst dein passendes Hemd? Wir haben es. Auf Lager.">
    <meta name="DC.publisher" content="Finn Lorbeer und Kai Foerst">
    <meta name="DC.type" content="service">
    <meta name="DC.format" content="text/html">
    <meta name="DC.language" content="de">
    <meta name="DC.rights" content="Copyright by Finn Lorbeer">
    <meta name="robots" content="all">
    <meta name="keywords" content="Anzug, Hemden, Kragen, Kragenweite, Manschetten, Passgenau, Groesse, Shirts, Suchmaschine, Hugo Boss, Olymp, Van Laac, Eterna">
    <meta name="verification" content="52a7aab1165b3a8c3d2326b661e1072f" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <%= yield %>

		<footer>
			<%= render 'layouts/footer'%>
		</footer> 
      
    <%= debug(params) if Rails.env.development? %>  
      
    </main>
  </body>
</html>
